Package: debtest
Version: 0.1
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: libwww-perl, ruby1.8 (>= 1.2)
Pre-Depends: perl 
Recommends: polygen | netscape  
Suggests: docbook 
Installed-Size: 1024
Maintainer: Riccardo Carlesso <rusko@palladius.it>
Conflicts: wile-e-coyote
Replaces: sam-sheepdog
Provides: acme
Source: debtest
Description: The description can contain free-form text
             describing the function of the program, what
             kind of features it has, and so on.
